<!-- Slider main container -->
<div class="swiper" id="swiper-{{ section.id }}">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
  {% for block in section.blocks %}
    <div class="swiper-slide">
        <article>
            <h2>{{ block.settings.slide_text }}</h2>
            <a href="{{ block.settings.link_url }}"> {{ block.settings.link_text }}</a>
        </article>
        <img src="{{ block.settings.slide_image | image_url }}" alt="slide-image">
    </div>
  {% endfor %}
    <div class="swiper-slide">{{ section.settings.text }}</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const swiper = new Swiper('#swiper-{{ section.id }}', {
      direction: 'horizontal',
      loop: true,
      navigation: {
        nextEl: '#swiper-{{ section.id }} .swiper-button-next',
        prevEl: '#swiper-{{ section.id }} .swiper-button-prev',
      },
    });
  });
</script>

{% schema %}
    {
        "name":"Custom slider - banner",
        "settings":[
            {
                "type": "text",
                "id": "text",
                "label": "Esto es el label",
                "default": "Esto es texto por defecto",
                "info": "Info sobre esta setting",
                "placeholder": "Esto es el placeholder"
            },
        ],
        "blocks": [
            { "type": "slide",
              "name": "Slider",
              "settings": [
                {
                    "type": "text",
                    "id": "slide_text",
                    "label": "Titulo para la imagen"
                },
                {
                    "type": "image_picker",
                    "id": "slide_image",
                    "label": "Selecciona tu imagen"
                },
                {
                    "type": "text",
                    "id": "link_text",
                    "label": "Link text",
                    "default":"Ver más"
                },
                {
                    "type": "url",
                    "id": "link_url",
                    "label": "Url",
                }
              ]  
            }
        ]
    }
{% endschema %}